.legal {
  padding: 4rem;
  color: #02f4bf;
}
.legal h1 {
  color: #e15544;
  font-size: 20px;
  margin-bottom: 1rem;
  margin: 40px;
}
.legal .muted {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 2rem;
}
