<section class="legal">
  <div class="container">
    <h1>{{ 'legal.title' | translate }}</h1>

    <h3>{{ 'legal.imprintTitle' | translate }}</h3>
    <p [innerHTML]="'legal.imprint' | translate"></p>

    <h3>{{ 'legal.acceptanceTitle' | translate }}</h3>
    <p>{{ 'legal.acceptance' | translate }}</p>

    <h3>{{ 'legal.disclaimerTitle' | translate }}</h3>
    <p>{{ 'legal.disclaimer' | translate }}</p>

    <p class="muted">{{ 'legal.date' | translate }}</p>
  </div>
</section>
