.privacy {
  padding: 4rem;
  color: #02F4BF;
}
.privacy h1 {
  color: #E15544;
  font-size: 40px;
  margin-bottom: 1rem;
}
.privacy .muted {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 2rem;
}
