.privacy {
  padding: 4rem;
  color: #02f4bf;
}
.privacy h1 {
  color: #e15544;
  font-size: 23px;
  margin-bottom: 1rem;
  margin: 30px;
}
.privacy .muted {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 2rem;
}
