<main>
  <div class="app-container">
    <!-- Hero -->
    <section id="hero" class="section" data-aos="fade-up" data-aos-duration="1000">
      <app-hero></app-hero>
    </section>

    <!-- About -->
    <section id="why-me" class="section" data-aos="fade-right" data-aos-duration="900">
      <app-about></app-about>
    </section>

    <!-- Skills -->
    <section id="skills" class="section" data-aos="zoom-in" data-aos-duration="800">
      <app-skills></app-skills>
    </section>

    <!-- Projects -->
    <section id="projects" class="section" data-aos="fade-left" data-aos-duration="900">
      <app-projects></app-projects>
    </section>

    <!-- Testimonials -->
    <section id="testimonials" class="section" data-aos="zoom-in-up" data-aos-duration="800">
      <app-testimonials></app-testimonials>
    </section>

    <!-- Contact -->
    <section id="contact" class="section" data-aos="fade-up" data-aos-duration="1000">
      <app-contact></app-contact>
    </section>
  </div>
</main>
